@tailwind base;
@tailwind components;
@tailwind utilities;

.cartList-icon {
    right: -50px;

}
.carousel-box:hover .cartList-icon  {
    right: 5px;
    transition: all 0.3s ease;
}
.text-truncate {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
/*body {*/
/*    background-color: #fff;*/
/*    color: rgba(0,0,0,0.8);*/
/*}*/
/*.dark-mode body {*/
/*    background-color: rgb(33, 32, 32);*/
/*    color: #ebf4f1;*/
/*}*/
/*.sepia-mode body {*/
/*    background-color: #f1e7d0;*/
/*    color: #433422;*/
/*}*/